---
import { github } from "@/config/socials";
import Layout from "@/layouts/Layout.astro";

import { Image } from "astro:assets";
import Badge from "@/components/general/badge.astro";
import IconOpenInNew from "@/components/icons/icon-open-in-new.astro";
import projects from "./projects/projects";
---

<Layout
    title="Projects"
    description="A curated list of my projects. Primarily web development done with React/Next.js and Astro."
>
    <h1 class="mb-4">Projects</h1>
    <p class="mb-8">
        Here are some of the projects I have worked on. Each project takes you
        to a page with more information about the work put into each project.
        You can find more of my work on my{" "}
        <a href={github?.url} target="_blank" rel="noopener noreferrer">
            GitHub Profile
        </a>
    </p>

    <ul
        id="projects-container"
        class="grid grid-cols-1 md:grid-cols-2 xl:gap-24 md:gap-12 gap-6"
    >
        {
            projects.map(project => (
                <li class="mb-4 w-full projects-project-card will-change-transform h-full">
                    <a
                        href={project.url}
                        class="text-foreground no-underline h-full"
                    >
                        <Image
                            transition:name={`${project.transitionName}-image`}
                            src={project.image}
                            alt={project.name}
                            class="rounded-lg mb-2 w-full will-change-transform aspect-[11/9] object-cover"
                            loading="lazy"
                            format="avif"
                            width={800}
                            height={600}
                        />
                        <div class="flex flex-col gap-1">
                            <div class="md:min-h-13">
                                <h2
                                    class="text-xl mb-0"
                                    transition:name={`${project.name.toLowerCase().replace(/\s+/g, "-")}-title`}
                                >
                                    {project.name}
                                </h2>

                                {project.projectUrl && (
                                    <a
                                        href={project.projectUrl}
                                        target="_blank"
                                        class="text-sm flex items-center gap-1"
                                    >
                                        {project.projectUrl}
                                        <IconOpenInNew />
                                    </a>
                                )}
                            </div>

                            <ul class="flex gap-2">
                                {project.tech?.map(tech => (
                                    <li>
                                        <Badge>{tech}</Badge>
                                    </li>
                                ))}
                            </ul>
                            <p>{project.description}</p>
                        </div>
                    </a>
                </li>
            ))
        }
    </ul>

    <script>
        import gsap from "gsap";
        import { ScrollTrigger } from "gsap/ScrollTrigger";

        let ctx: gsap.Context | null = null;

        document.addEventListener("astro:page-load", () => {
            ctx && ctx.revert();

            gsap.registerPlugin(ScrollTrigger);

            requestAnimationFrame(() => {
                ctx = gsap.context(() => {
                    const projectCards: HTMLElement[] = gsap.utils.toArray(
                        ".projects-project-card"
                    );
                    const projectsContainer = document.querySelector(
                        "#projects-container"
                    );

                    gsap.set(projectCards, {
                        force3D: true,
                        y: 20,
                        opacity: 0,
                        visibility: "hidden",
                    });

                    gsap.to(projectCards, {
                        opacity: 1,
                        y: 0,
                        visibility: "visible",
                        stagger: 0.15,
                        duration: 0.6,
                        delay: 0.35,
                        ease: "power2.out",
                        clearProps: "transform,visibility",
                        scrollTrigger: {
                            trigger: projectsContainer,
                            start: "top bottom-=100",
                            toggleActions: "play none none none",
                        },
                    });

                    // Add mouseover scaling
                    projectCards.forEach(card => {
                        card.addEventListener("mouseover", () => {
                            gsap.to(card, {
                                scale: 1.015,
                                duration: 0.3,
                                ease: "power2.out",
                            });
                        });

                        card.addEventListener("mouseout", () => {
                            gsap.to(card, {
                                scale: 1,
                                duration: 0.3,
                                ease: "power2.out",
                            });
                        });
                    });
                });
            });
        });

        document.addEventListener("astro:before-swap", () => {
            ctx && ctx.revert();
            ScrollTrigger.getAll().forEach(ST => ST.kill());
        });
    </script>
</Layout>
